
@import url("https://use.typekit.net/lew6mof.css");

$font-heading: 'brandon-grotesque',Verdana, Geneva, Tahoma,  sans-serif;

$font-base: 'ff-tisa-sans-web-pro',Tahoma, Geneva, Verdana, sans-serif;


$heroHeading: 65px;
$heading1: 42px;
$heading2: 36px;
$heading3: 26px;

$heroHeading-smallScreen: 40px;
$heading1-smallScreen: 30px;
$heading2-smallScreen: 25px;
$heading3-smallScreen: 20px;

$paragraphNormal: 18px;
$paragraphSmall: 16px;
$paragraphQuote: 16px;
$navFont: 14px;

$bold-font-weight: 500;
$base-font-weight: 400;
$light-font-weight: 300;

//BOOTSTRAP
$h1-font-size: $heading1;             
$h2-font-size: $heading2;       
$h3-font-size: $heading3;             
